@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

@font-face {
    font-family: 'Idroid';
    src: url(../fontes/idroid.otf) format('opentype');
    font-weight: normal;
    font-style: normal;
}

* {

    margin: 0px;
    padding: 0px;

}

html {
    
    width: 100%;
    margin: 0;
    padding: 0;

}

body{ 

    width: 100%; position: relative;
    height: 100%;
    background-color: #C5EBD6;
    margin: 0;
    padding: 0;

}

header > h1{

    text-align: center;
    color: white;
    font-family: 'Bebas Neue';
    font-size: 40px;
    padding-top: 33px;


}

header > p{

    text-align: center;
    color: white;
    font-family: Arial, Helvetica, sans-serif;

}

header{

    background-image: linear-gradient(to bottom, #2DA463, #063D1E);
    height:220px;
    width:100%;
    
}

nav{

    padding: 10px;


}

nav > a{

    color: white;
    text-decoration: none;
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;

}

nav > a:hover{

    background-color: #2DA463;
    border-radius: 5px;
    color: #063D1E;

}

main{

    background-color: #ffffff;
    width: 70%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    height: 100%;

}

main > div{

    font-family: Idroid;
    color: #063D1E;

}

main > div > p{

    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    color: black;
    text-indent: 25px;
    word-spacing: normal;
    line-height: 1.5;
    
}

main > div > section{

    background-color: #83E1AD;
    width: 90%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 100%;
    margin-top: 30px;
    border-top-left-radius: 17px;
    border-top-right-radius: 17px;

}

main > div > section > h1{

    background-color: #063D1E;
    font-family: Arial, Helvetica, sans-serif;
    padding: 10px;
    color: white;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-top-left-radius: 17px;
    border-top-right-radius: 17px;

}

main > div > section > p{

    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    color: black;
    text-indent: 25px;
    word-spacing: normal;
    line-height: 1.5;
    padding: 7px;

}

.duas-colunas {
    column-count: 2; /* Define o número de colunas */
    column-gap: 20px; /* Espaço entre as colunas */
    list-style-type: none; /* Remove os marcadores padrão */
    padding: 10px; /* Remove o padding padrão */
}

.duas-colunas li {
    break-inside: avoid; /* Evita que os itens sejam quebrados entre colunas */
    padding: 5px 0; /* Espaçamento entre os itens */
}

main > div > section > ul{

    font-family: Arial, Helvetica, sans-serif;
    color: black;

}

footer{

    background-color: #063D1E;
    color: white;
    text-align: center;
    padding: 10px;

}

footer > p > a{

    color: white;

}